name: matchmaking_homework
channels:
  - conda-forge
dependencies:
  - python=3.12
  - pip
  - numpy
  - pandas
  - scipy
  - matplotlib
  - scikit-learn
  - pip:
      - sentence-transformers
      - umap-learn
      - pyvis
      - optuna
